*.terraform.lock.hcl 
terraform.tfstate
terraform.tfstate.backup
*.terraform/
Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_386/terraform-provider-azurerm_v3.0.0_x5.exe
